.sidebar{
    width: 250px;
    height: 100%;
    background-color: #75C2F6;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.sidebar_content a{
    text-decoration: none;
    font-style: italic;
    font-weight:900;
    padding: 40px;
    color: rgb(0, 0, 0);
    color: rgb(3, 3, 3);
}

.sidebar_content a:hover{
background-color: #7e55b4;
}
.sidebar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 40px;
    justify-content: center;
    border: 5px solid rgb(65, 54, 110);
}

.container{
    display: flex;
    height: 100vh;
    height: 100%;
}
.main{
    flex:1;
    margin-left: 244px;
    color: #101010;
    background-color: #7e55b4;

}
.main_content{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}